body{
    background-color: rgba(90, 91, 206, 0.21);
}
#login{
    width:350px;
    height:300px;
    position: absolute;
    margin: auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: #fff;
}
#login input{
    border:0px;
    outline: none;
    height:35px;
    width:150px;
    font-size: 17px;
}
form{
    margin: 30px;
}
span{
    font-size: 20px;
}
#getNumber{
    position: relative;
    left:30px;
    border:none;
    outline: none;
    background-color: transparent;
    color:blue;
}
.log{
    background-color:#0084ff;
    border-radius: 10px;
    border: none;
    width:100%;
    height:30px;
    color: #fff;
    margin-top: 20px;
    outline: none;
}
span{
    color: red;
    font-size: 14px;
}